.background {
    background-color: $footer-color;
    background-image: url("../images/back.jpg");
    background-size: 100% 100%;
    position: relative;
    &::before {
        content: "";
        background-color: rgba(0, 0, 0, .48);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}