* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: $primary-font;
    color: $primary-color;
    text-align: center;
}

a {
    text-decoration: none;
    color: $contrast-color;
}