.gallery-photo {
    font-size: 0;
    width: calc((100% - 24px) / 2);
    &:nth-child(2n+1) {
        margin-right: $gallery-space;
    }
    &:not(:nth-last-child(3) ~ .gallery-photo) {
        margin-bottom: $gallery-space;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 1024px) {
    $gallery-space: 10px;
    .gallery-photo {
        width: calc((100% - 10px) / 2);
        &:nth-child(2n+1) {
            margin-right: $gallery-space;
        }
        &:not(:nth-last-child(3) ~ .gallery-photo) {
            margin-bottom: $gallery-space;
        }
    }
}

@media screen and (max-width: 768px) {
    $gallery-space: 12px;
    .gallery-photo {
        width: calc((100% - 12px) / 2);
        &:nth-child(2n+1) {
            margin-right: $gallery-space;
        }
        &:not(:nth-last-child(3) ~ .gallery-photo) {
            margin-bottom: $gallery-space;
        }
    }
}

@media screen and (max-width: 500px) {
    $gallery-space: 8px;
    .gallery-photo {
        width: calc((100% - 8px) / 2);
        &:nth-child(2n+1) {
            margin-right: $gallery-space;
        }
        &:not(:nth-last-child(3) ~ .gallery-photo) {
            margin-bottom: $gallery-space;
        }
    }
}