.logo {
    font-size: 5rem;
    line-height: 6.3rem;
    text-transform: uppercase;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .logo {
        font-size: 3.5rem;
        line-height: 4.4rem;
    }
}