    .menu-item {
        width: calc((100% - 2 * 48px) / 3);
        position: relative;
        &:not(:last-child) {
            margin-right: 48px;
        }
        &__picture {
            font-size: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__info {
            text-align: left;
            margin-top: 35px;
        }
        &__name {
            font-size: $h4-size;
            font-weight: 400;
            line-height: 3.8rem;
        }
        &__description {
            font-size: $menu-text-size;
            font-weight: 300;
            line-height: 2.3rem;
            color: $pale-color;
            margin: 15px 0;
        }
        &__price {
            font-size: $menu-text-size;
            font-weight: 700;
            line-height: 2.3rem;
        }
        &--red-stiker::before {
            @include stiker-styles("HOT!", 58px, #D33B3B, 1.4rem, #fff);
        }
        &--green-stiker::before {
            @include stiker-styles("NEW!", 58px, #B3E151, 1.4rem, #fff);
        }
        &--orange-stiker::before {
            @include stiker-styles("HIT!", 58px, #E5A434, 1.4rem, #fff);
        }
    }
    
    @media screen and (max-width: 1024px) {
        $h4-size: 2.5rem;
        $menu-text-size: 1.5rem;
        .menu-item {
            width: calc((100% - 2 * 92px) / 3);
            &:not(:last-child) {
                margin-right: 92px;
            }
            &__info {
                margin-top: 15px;
            }
            &__name {
                font-size: $h4-size;
                line-height: 3.1rem;
            }
            &__description {
                font-size: $menu-text-size;
                line-height: 1.9rem;
            }
            &__price {
                font-size: $menu-text-size;
                line-height: 1.9rem;
            }
            &--red-stiker::before {
                @include stiker-styles("HOT!", 46px, #D33B3B, 1.2rem, #fff);
            }
            &--green-stiker::before {
                @include stiker-styles("NEW!", 46px, #B3E151, 1.2rem, #fff);
            }
            &--orange-stiker::before {
                @include stiker-styles("HIT!", 46px, #E5A434, 1.2rem, #fff);
            }
        }
    }
    
    @media screen and (max-width: 825px) {
        .menu-item {
            width: calc((100% - 2 * 60px) / 3);
            &:not(:last-child) {
                margin-right: 60px;
            }
        }
    }
    
    @media screen and (max-width: 768px) {
        $menu-text-size: 2rem;
        .menu-item {
            display: flex;
            align-items: center;
            max-width: 692px;
            width: 100%;
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 58px;
            }
            &__picture {
                max-width: 320px;
                align-self: flex-start;
            }
            &__info {
                margin-top: 0px;
                margin-left: 24px;
                max-width: 348px;
                flex-shrink: 0;
            }
            &__description {
                font-size: $menu-text-size;
                line-height: 2.5rem;
                margin: 20px 0;
            }
            &__price {
                font-size: $menu-text-size;
                line-height: 2.5rem;
            }
            &--red-stiker::before {
                @include stiker-styles("HOT!", 56px, #D33B3B, 1.4rem, #fff);
            }
            &--green-stiker::before {
                @include stiker-styles("NEW!", 56px, #B3E151, 1.4rem, #fff);
            }
            &--orange-stiker::before {
                @include stiker-styles("HIT!", 56px, #E5A434, 1.4rem, #fff);
            }
        }
    }
    
    @media screen and (max-width: 630px) {
        .menu-item {
            max-width: 400px;
            flex-direction: column;
            &__picture {
                width: 100%;
                max-width: 400px;
            }
            &__info {
                margin-top: 24px;
                margin-left: 0px;
                max-width: 400px;
                flex-shrink: 1;
            }
        }
    }