/*text colors*/

$primary-color: #000;
$contrast-color: #fff;
$pale-color: #474747;

/*background colors*/

$bg-color:#F3F7EA;
$footer-color: #262626;

/*fonts*/

$primary-font: "Source Serif Pro",
serif;

/*font sizes*/

$h3-size: 4rem;
$main-text-size: 3rem;
$h4-size: 3rem;
$menu-text-size: 1.8rem;

/*paddings and other distances*/

$section-space: 100px;
$gallery-space: 24px;
$button-height: 60px;